.home__left-title {
  color: white;
}
.home__right-text {
  color: #ffffff;
}
.build__left-title {
  color: white;
}
.build__card-title {
  color: #f67e7e;
}
.build__card-text {
  color: white;
}
.stories__top-title {
  color: white;
}
.stories__top-span {
  color: #79c8c7;
}
.stories__bottom-text {
  color: #ffffff;
}
.stories__bottom-title {
  color: #79c8c7;
}
.stories__bottom-txt {
  color: #ffffff;
}
.footer__top-title {
  color: #012f34;
}
.footer__btn {
  color: #012f34;
}
.contact__left-heading {
  color: #ffffff;
}
.contact__left-title {
  color: #f67e7e;
}
